.Login {
  width: 500px;
  height: 130px;
  margin-bottom: 10px;
  margin: auto;
  padding: 12px;
  border: 1px solid var(--paletteColor3);
  border-radius: 3px;
  background-color: var(--paletteColor2);
}
.Button {
  width: 200px;
  height: 80px;
  border-radius: 50px;
  background-color: silver;
  margin: auto;
  margin-left: 170px;
}
